body{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(823735170d433adf154fa5163e72ae6f.jpg);
    margin: 15 px;
    color: aliceblue;
}

h1{ 
    color: rgb(255, 255, 255);
    text-align: center;
}

p{ 
    color: rgb(255, 255, 255);
    text-align: center;
}

